@media (min-width: 550px)
{

html{
    scroll-behavior: smooth;
}

header{
    margin-top: 2%;
    font-size: 1.5em;
}

.menu{
    margin-bottom: 2%;
}

#nameCompany{
    margin-top: 15%;
    text-align: center;
    font: solid;
    font-size: 50px;

}

#cosmetics{
    font-size: 30px;
}

#tel{
    padding-right: 5%;
    text-align: right;
}

#pic1, #pic {
    width: 100%;
}

 #pic2, #pic3, #pic4
 {
width: 100%;
}

.mainHeight{
    height:auto;
}



.bottonCatalog{
    padding-left: 20px;
    text-align: left;
    margin-top: 15%;
}

.font{
    margin-top: 2%;
    padding-left: 20px;
    font-size: 50px ;
    text-decoration: underline;
    text-align: left; 
}



.mask{
    padding-left: 20px;
    font-size: 20px;
    text-align: left; 

}

li{
    font-size: 1em;
}

ul{
    height: 190px;
}

.delivery{
    border-left: solid;
    padding-left: 50px;
    font-size: 2em;
}

br{
margin-top: 200px;
}

.delivery li{
    font-size: 1.15em;
}

.main
{
    background-image:url(main.jpg);
    background-repeat: no-repeat;
    height: auto;
}

.contact{
    margin-top: 200px;
    font-size: 2em;
}

.map{
    width: 100%;
}

footer{
    padding-top: 2%;
    text-align: center;
}

.footer{
    border-top: solid 3px;
  
}

}



@media (max-width: 550px) {
    html{
        scroll-behavior: smooth;
    }
    header{
        margin-top: 2%;
        font-size: 1.5em;
    }
    
    .menu{
        margin-bottom: 2%;
    }
    #nameCompany{
        margin-top: 15%;
        text-align: center;
        font: solid;
        font-size: 50px;
    
    }
    #cosmetics{
        font-size: 30px;
    }
    
    .tel, #tel{
        
        text-align: center;
    }
    #pic1, #pic {
        width: 100%;
    }
     #pic2, #pic3, #pic4{
   
    width: 50%;
    }
    #pic{
        margin-top: 10%;
    }
    
    .mainHeight{
        height:auto;
    }
    
    
    
    .bottonCatalog{
    
        text-align: center;
        margin-top: 15%;
    }
    
    .font{
        margin-top: 5%;
        font-size: 50px ;
        text-decoration: underline;
        text-align: center; 
    }
    
    
    
    .mask{
        padding-left: 5%;
        padding-right: 5%;
        font-size: 20px;
        text-align: left; 
    
    }
    
    li{
        font-size: 0.7em;
    }
     
    
    ul{
        height: 140px;
    }
    
    .delivery{
        height: 50%;
        border-left: solid;
        padding-left: 15px;
        font-size: 1.5em;
        }
    
    br{
    margin-top: 200px;
    }
    
    .delivery li{
        font-size: 0.88em;
    }
    .main
    {
        background-image:url(main.jpg);
        background-repeat: no-repeat;
        height: auto;
    }
    
    .contact{
        margin-top: 5%;
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 5%;
    }
    
    .map{
        width: 100%;
    }
    
    footer{
        padding-top: 2%;
        text-align: center;
    }
    .footer{
        border-top: solid 3px;
      
    }

    .img{
        
       text-align: center;
    }

   

}